%h2
  =t('dashboard.welcome')

- if @images.exists?
  %p.imglist{:style => "max-width: 520px;"}
    %a{"data-fancybox-trigger" => "preview"}
      = image_tag @images.last.picture.large.url

  %p.imglist
  = @images.last(4).each_slice(4) do |image|
    - image.each do |image|
      %a{"data-fancybox" => "preview", "data-height" => "1000", "data-width" => "1500",:href => image.picture.thumb.url}
        = image_tag image.picture.thumb.url
- else
  %p
    = t('images.index.no_images')
