%h1
  Hello
= link_to 'Demo image', images_path, class: "navbar-item"
= link_to 'Create New Image', new_image_path, class:"navbar-item"
= link_to 'Create New Category', new_category_path, class:"navbar-item"
= yield :page_title
