%i
  This image has #{pluralize(@comments.count, "Comment") + ":"}
-    @comments.each do |comment|
  %p
    %ul
      %li= comment.body
      %br
      = comment.user.email
- if user_signed_in?
  = render 'comments/form'
