%i
  -if @comments.exists?
    %i.title
      ="Comments : "
    -@comments.each do |comment|
      .commentlistitem
        %ul
          %li
            =comment.body
          %i.title
            ="Commented by:"
          =comment.user.email
          %br
          %i.title
            =comment.created_at.strftime('%H:%M:%S')
          %br
          %i.title
            =comment.created_at.strftime('%v')
  -else
    %i.title
      ='No comments yet'
