= form_with model: @comment, url: image_comments_path do |f|
  = f.label :comment
  %br
  = f.text_area :body, class: 'w-75' ,rows: '5', placeholder: 'Write You Comment'
  %br
  = f.submit (t('comments._form.add_comment')),class: 'btn btn-secondary'
