- if current_user.heart?(image)
  -#%button.glyphicon.glyphicon-heart-empty.unheart{ id: image.id }
  = link_to '123', root_path, remote: true
- else
  %button.glyphicon.glyphicon-heart.heart{ id: image.id }
