- if current_user.heart?(@image)
  =link_to heart_path(id: @image.id), method: 'delete', remote: true do
    %i.fas.fa-heart
- else
  =link_to hearts_path(id: @image.id), method: :post, remote: true do
    %i.far.fa-heart
