// Place all the styles related to the comments controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentlistitem {
  color: white !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
