// Place all the styles related to the comments controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_title {
  color: navajowhite;
}

.title {
  color: navajowhite;
}

.commentlistitem {
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  width: 100%;
  //display: ;
}

#comment-form {
  color: #ffffff;
  margin-left: 15px;
}

.comments_counter {
  font-size: 20px;
  color: #007bff;
  margin-left: 10px;
}

