#musthead{
  border-bottom: 1px solid snow;
}

.menu-nav-container{
  border-bottom: 1px solid snow;
}

.nav-item{
  text-align: center;
  padding: 0;
}

.nav-container{}

.fab.fa-instagram{
  color: snow;
  margin-left: 35%;
  font-size: 75px;
}

.navbar {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.slider_container {
  margin-top: 1%;
}

.image_container {
  height: auto;
}

.img{
  margin-left: 20%;
  width: 720px;
  height: 480px;
}

.img_slider {
  margin-left: 3%;
}

.nav-title {
  margin-left: 15px;
  font-size: 60px;
  color: snow;
}

.navbar a:hover{
  opacity: 0.5;
}

@media screen and( max-width: 1343px){
  .img {
    margin-left: 3%;
  }
}

@media screen and( max-width: 980px){
  .img {
    margin-left: 3%;
    max-width: 575px;
  }

  .slider_container {
    text-align: center;
  }

  .logo-navbar-container{
    text-align: center;
  }
  .nav-title, .fab.fa-instagram {
    display: block;
    margin-left: 0;
  }
}

@media screen and( max-width: 654px){
  .nav-title {
    margin-left: 0;
    //text-align: center;
  }

  .img {
    margin-left: 3%;
  }


  .img {
    max-width: 275px;
    max-height: 220px;
  }

  .slider_container {
    text-align: center;
  }
}
