.image_container {
  margin-left: 15%;
}


#musthead{
  border-bottom: 1px solid snow;
}

.menu-nav-container{
  border-bottom: 1px solid snow;
}

.nav-item{
  text-align: center;
  padding: 0;
}

.nav-container{}


.fab.fa-instagram{
  color: snow;
  margin-left: 50%;
  font-size: 75px;
}
