.edit-form {
  color: #005f13;
}

.form-text-muted {
  color: navajowhite;
}

#delete_link{
  color: #ffd0a2;
}

#back_link {
  color: #ffd0a2;
}

#category_link {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

#unfollow_category_link {
  text-decoration: none;
  color: #e5312b;
}
