.slider_container{
  overflow: hidden;
}

.mySlides {
  display: none;
  height: 100vh;
}

.content:first-child {
  display: block;
}

.slider {
  position: absolute;
  z-index: 0;
}

.content {
  position: relative;
}

.display-right {
  position: absolute;
  right: 0;
  top: 50%;
}

.display-left {
  position: absolute;
  left: 0;
  top: 50%;
}

.left, .right {
  position: relative;
  top: -50%;
  opacity: 0.6;
}

.display-right img:hover,
.display-left img:hover {
  opacity: 1;
  cursor:pointer;
  -webkit-transform: scale(1.1);
}
