body{
  font-family: Georgia, 'Arrial', sans-serif;
}

.navbar{
  min-height: 30px;
  margin-bottom: 20px !important;
  border-radius: 0;
}


.navbar .navbar-brand{
  padding: 0 12px;
  font-size: 16px;
  line-height: 38px;
  height: 38px;
}

.navbar .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 38px;
  color: #fff;
}

.navbar .navbar-toggle{
  margin-top: 3px;
  margin-bottom: 0;
  padding: 8px 9px;
}


.navbar .navbar-form{
  margin-top: 2px;
  margin-bottom: 0;
}

.navbar, .navbar-collapse{
  border-color: #A40303;
}

h1, h2{
  border-left:5px #666 solid;
  border-bottom: 1px #666 solid;
  padding: 0 0 5px 10px;
  margin-bottom: 30px;
}

#gallery img{
  //height: ;
}

.col-md-3{
  padding: 0;
}

footer{
  margin-top: 2px;
  height: 30px;
  background: #333;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

.photo{
  text-align: center;
  position: relative;
}

.photo,
.photo-hover,
.photo-hover .mask,
.photo-img,
.photo-info{
  width: 275px;
  height: 220px;
}

.photo-img,
.photo-hover,
.photo-hover .mask{
  position: absolute;
  top:0;
  left:0;
}

.photo-type-line .photo-hover{
  z-index: 100;
  //-webkit-transition: all 500ms ease-out;
  //-moz-transition: all 500ms ease-out;
  //transition: opacity 500ms ease-out;
  opacity:0.9;
  cursor:pointer;
  display:block;
  text-decoration: none;
  text-align: center;
}

.photo-type-line .photo-info{
  z-index: 10;
  color: #ff2831;
  display:table-cell;
  vertical-align: middle;
  position: relative;
}

.photo-type-line .photo-info .headline{
  font-size:20px;
}

.photo-type-line .photo-info .line{
  height:1px;
  width:0;
  margin:15px auto;
  background-color: #ff2831;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.photo-type-line .photo-hover .mask{
  background:#000;
  filter:alpha(opacity=50);
  opacity:0.2;
  z-index:0;
}

.photo-type-line .photo-hover:hover .line{
  width:60%;
}

.photo-type-line .photo-hover:hover{
  opacity:1;
}

.photo-img{
  background:#777c7c;
  z-index:0;
}

#paginate{
  margin-top: 20px;
}

.fas.fa-home,
.fas.fa-comment,
.fab.fa-instagram,
.fas.fa-user-circle,
.fas.fa-align-justify,
.far.fa-arrow-alt-circle-down {
  color: white;
  margin-top: 10px;
}

 .mask:hover{
   opacity: 0;
}

