%h2 Categories
#myBtnContainer
  %button.btn.active{:onclick => "filterSelection('all')"} Show all
  - @categories.each do |category|
    %button.btn={:onclick => "filterSelection('nature')"}; category.title


