#gallery
  %h2 All Images
  - if @images.exists?
    - @images.each_slice(4) do |image|
      %div
        .row
          - image.each do |image|
            .col-mid-3
              .photo.photo-type-line
                %a.photo-hover{"data-title" => image.name, :href => image_path(image)}
                  .photo-info
                    .headline= image.name
                    .line
                    .desc= image.category.title
                    .mask
                  .photo-img= image_tag image.picture.url(:thumb)
  - else
    %p There are no images
  = paginate @images

